* {
  padding: 0;
  margin: 0;
}

body {
  background: #eef2f5;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.clr {
  clear: both;
}
/* 
  Navigation Panel
*/
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar {
  /* padding-left: 5%;
  padding-right: 5%; */
  width: 100%;
  height: 8vh;
  margin: auto;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.navbar img {
  margin-left: 100px;
}

nav {
  flex: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 80px;
}

nav ul li a {
  text-decoration: none;
  color: #343434;
}

select {
  border: none;
  margin-right: 45px;
}
button {
  width: 122px;
  height: 34px;
  background: #1dd1a1;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  margin-right: 100px;
}

/* 
  Header Section
*/

.content h1,
.section--5 h1 {
  color: #343434;
  font-size: 40px;
  line-height: 48px;
  margin-top: 120px;
  margin-left: 100px;
  /* font-weight: ; */
}

header .content img {
  float: right;
  width: 600px;
  height: 520px;
  margin-right: 125px;
  margin-top: -130px;
}

/* 
    SECTION 1
*/

.section--1 {
  width: 100%;
  height: 100vh;
}

.section--1 .content img {
  margin-top: 50px;
  margin-left: 150px;
}

.section--1 .content .inside-content {
  float: right;
  margin-top: 150px;
  margin-right: 200px;
  color: #343434;
}

.section--1 .content .inside-content,
.section--2 .content .content-inside,
.section--3 .content .content-inside,
.section--4 .content .content-inside h2 {
  font-size: 30px;
}
.section--1 .content .inside-content,
.section--2 .content .content-inside,
.section--3 .content .content-inside,
.section--4 .content .content-inside p {
  font-size: 20px;
}

/* 
    SECTION 2
*/

.section--2 {
  width: 100%;
  height: 50vh;
}

.section--2 .content img {
  float: right;
  width: 450px;
  height: 370px;
  margin-right: 125px;
  margin-top: -130px;
}

.section--2 .content .content-inside {
  margin-top: 50px;
  margin-left: 200px;
}

/* 
    SECTION 3
*/
.section--3 {
  width: 100%;
  height: 50vh;
}

.section--3 .content .content-inside {
  float: right;
  margin-top: auto;
  margin-right: 180px;
  color: #343434;
}

.section--3 .content img {
  margin-top: -40px;
  margin-left: 170px;
}

/* 
    SECTION 4
*/

.section--4 {
  width: 100%;
  height: 50vh;
}

.section--4 .content .content-inside {
  margin-top: 20px;
  margin-left: 200px;
}

.section--4 .content {
  display: inline;
}

.section--4 .content img {
  float: right;
  margin-top: -20px;
  margin-right: 200px;
}

/* 
    SECTION 5
*/

.section--5 {
  width: 80%;
  margin: 0 auto;
}

.section--5 h1 {
  padding: auto;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 3px;
}

/* .courses {
  align-items: center;
  margin: 0 auto;
  width: 100%;
} */

.course {
  position: relative;
  width: 30%;
  height: 342px;
  float: left;
  background: #ffffff;
  margin-right: 32px;
  border-radius: 4px;
}

.course h3 {
  padding-top: 10px;
  padding-left: 20px;
}

.course p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.course img {
  width: 100%;
}

.course button {
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: 172px;
  height: 40px;
}

.course button span {
  vertical-align: middle;
  margin-left: -30px;
  font-size: 16px;
}

.course button img {
  vertical-align: center;
  width: 24px;
  height: 24px;
}

/* 
    SECTION 6
*/

.section--6 {
  position: relative;
  width: 70%;
  height: 70vh;
  margin: auto;
}

.section--6 .content h1 {
  margin-left: auto;
  margin-bottom: 20px;
}

.section--6 .content .content-items .content-item-1 {
  position: absolute;
  right: -130px;
  top: 40px;
}

.section--6 .content .content-items .content-item {
  float: left;
  width: 50%;
}

.section--6 .content .content-items .content-item p {
  margin-bottom: 20px;
  font-size: 16px;
}

.section--6 .content .content-items .content-item img {
  width: 400px;
  margin-right: auto;
}

/* 
    SECTION 7
*/

.section--7 {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}
.card {
  position: relative;
  width: 30%;
  height: 470px;
  float: left;
  background: #ffffff;
  margin-right: 30px;
  text-align: center;
  border-radius: 4px;
}

.section--7 .cards .card h2 {
  margin-top: 20px;
}

.section--7 p {
  margin-top: 20px;
}

.section--7 button {
  position: absolute;
  margin-top: 50px;
  left: 30%;
  background: #ffffff;
  border: 1px solid #1dd1a1;
  color: #1dd1a1;
}

.section--7 button:hover {
  background: #1dd1a1;
  color: #ffffff;
}

/* 
  FOOTER
*/

footer {
  width: 100%;
  height: 15vh;
  background: #093845;
}

.container {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.container .logo {
  padding-top: 26px;
  text-align: center;
}

.container .logo p {
  font-size: 14px;
  color: #f6fcfa;
}

.container {
  flex: 1;
}

.container ul li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}

.footer--list {
  padding-top: 20px;
  flex: 1;
}

.container ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #f6fcfa;
}

.container img {
  padding-top: 20px;
}
